:root{
  --clr-primary-100: hsl(178, 45%, 10%);
  --clr-primary-300: hsl(178, 45%, 30%);
  --clr-primary-500: hsl(178, 45%, 50%);
  --clr-primary-1000: hsla(178, 45%, 100%, 0.95);
}

.App {
  background-color: var(--clr-primary-1000);
  text-align: center;
  min-height: 100vh; /* required for full page background */
}

#root {
  min-height: 100vh; /* required for full page background */
}

.appBody {
  height: 100%;
  margin-top: 80px;
}

/*////////////////////////////////////////////////////////////////////////////*/
/* Nav Bar */
.navButton {
  float: left;
  display: inline-block;
  margin-left: 24px;
  padding: 5px;
  color: var(--clr-primary-500);
  font-size: 24px;
}
.connectButton {
  float: right;
  margin-right: 24px;
  background-color: var(--clr-primary-500);
  border-radius: 4px;
  padding: 5px 15px;
  color: var(--clr-primary-1000);
  font-size: 24px;
  cursor: pointer;
}
.connectButton:hover {
  background-color: var(--clr-primary-300);
}
.navBar {
  padding-top: 18px;
  overflow: hidden;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--clr-primary-100);
}

/*////////////////////////////////////////////////////////////////////////////*/
/* Market */
.marketContainer {
  background-color: var(--clr-primary-500);
  width: 620px;
  height: 170px;
  margin: 0 auto;
  top: 50%;
  border-radius: 24px;
  padding: 8px;
}
.subContainer {
  margin-bottom: 20px;
}
.marketOption {
  display: flex;
  margin-left: 22px;
}
.optionData {
  margin-left: 10px;
  color: var(--clr-primary-1000);
  font-weight: 700;
}
.optionPercent {
  display: block;
  font-size: 24px;
  font-weight: 1000;
  color: var(--clr-primary-300);
}
.logoImg {
  background-color: var(--clr-primary-1000);
  border-radius: 100px;
  margin-bottom: 14px;
  margin-right: 14px;
  width: 28px;
  height: 28px;
}
.marketHeader {
  color: var(--clr-primary-1000);
  font-size: 32px;
  font-weight: 800;
}
.hoverButton:hover {
  background: var(--clr-primary-300);
  cursor: pointer;
}
.hoverButton:active {
  /* box-shadow: 0 0 0 white; */
  box-shadow: inset;
}

/*////////////////////////////////////////////////////////////////////////////*/
/* Assets */
.assetContainer {
  background-color: var(--clr-primary-500);
  width: 620px;
  min-height: 225px;
  margin: 0 auto;
  top: 50%;
  border-radius: 24px;
  padding: 6px;
  padding: 8px;
  margin-top: 50px; /* space between sections */
  color: var(--clr-primary-1000);
  font-weight: 500;
}
.columnHeaders {
  font-weight: 800;
  color: var(--clr-primary-300);
}
.stakedLogoImg {
  background-color: var(--clr-primary-1000);
  border-radius: 100px;
  margin-bottom: 14px;
  margin-right: 14px;
  width: 18px;
  height: 18px;
}


/*////////////////////////////////////////////////////////////////////////////*/
/* Glyphs */
.glyphContainer {
  background-color: var(--clr-primary-1000);
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 12px;
}
.glyph {
  font-size: 34px;
}

/******************************************************************************/
/* Stake Modal */
.modal-class {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  left: 0;
  top: -400px;
  right: 0px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(86, 90, 105);
}
.modal-content {
  background-color: var(--clr-primary-1000);
  width: 300px !important;
  padding: 3rem;
  background-color: rgb(237, 238, 242) !important;
  border: 1px solid rgb(206, 208, 217) !important;
  border-radius: 12px !important;
}
.modal-content > *{
  margin:1rem;
}
.fieldContainer {
  padding-left: 0px !important;
}
.inputField {
  padding-left: 10px;
  border-radius: 36px;
  border: 1px solid #65cdee;
  height: 2rem;
  margin: 10px 0;
  width: 100%;
}
.inputFieldUnitsContainer {
  padding-left: 0px !important;
  padding-top: 14px;
}
.orangeButton {
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 24px;
  color: var(--clr-primary-1000);
  border-radius: 20px;
  background-color: var(--clr-primary-100);
  cursor: pointer
}
.orangeMiniButton {
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #000;
  border-radius: 20px;
  background-color: var(--clr-primary-1000);
  cursor: pointer
}
.orangeMiniButton:hover {
  color: var(--clr-primary-1000);
  background-color: var(--clr-primary-300);;
}
.stakingTerms {
  color: blue;
}